* > button{
    font-size: 18px;
    font-family: var(--font-default);
    font-weight: 800;
    color: #5a5a5a;
    text-decoration: none;
}

.header__content{
    width: 100%;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid rgba(216, 216, 216, 0.205);
    position: fixed;
    z-index: 2;
}

.nav__menu{
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__item{
    padding: 0 0.5em;
}

.nav__head{
    display: flex;
    align-items: center;
}

.head__button{
    font-size: 24px;
    transition: 500ms;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav__button{
    padding: 0 0.5em;
    transition: 250ms;
    background-color: transparent;
    border: none;
    vertical-align: center;
    cursor: pointer;
}

.nav__button:hover, .head__button:hover{
    color: var(--principal-color);
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.281);
}

.nav__button:hover{
    font-size: 1.3rem;
}

.head__button:hover{
    font-size: 1.8rem;
}

.head__button:active, .nav__button:active{
    color: var(--tertiary-color);
}

@media screen and (max-width:500px) {
    
    .nav__menu{
        
    }

}
