* > button{
    font-size: 18px;
    font-family: var(--font-default);
    font-weight: 800;
    color: #5a5a5a;
    text-decoration: none;
}

.header__content{
    display: flex;
    justify-content: space-around;
    height: 5.5em;
    width: 100vw;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid rgba(216, 216, 216, 0.205);
    position: fixed;
    z-index: 2;
}

.mobile__button{
    display: none;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__item{
    padding: 0 0.3em;
}

.head__button{
    font-size: 24px;
    transition: 500ms;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav__button{
    transition: 250ms;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav__button:hover, .head__button:hover{
    color: var(--principal-color);
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.281);
}

.nav__button:hover{
    font-size: 1.3rem;
}

.head__button:hover{
    font-size: 1.8rem;
}

.head__button:active, .nav__button:active{
    color: var(--tertiary-color);
}

@media screen and (max-width:550px) {

    .header__content{
        justify-content: space-between;
        background-color: #eeeeee;
        border-bottom: 2px solid #a1a1a162;
    }

    .nav__list{
        display: block;
        position: absolute;
        width: 100vw;
        height: 0;
        top: 88px;
        right: 0;
        background-color: #eeeeee;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    .nav__item{
        display: flex;
        padding: 1em 0;    
        justify-content: flex-end;    
    }

    .nav__button{
        padding: 0 1em;
    }

    .nav__menu.active .nav__list{
        visibility: visible;
        height: calc(40vh - 5.5em);
        overflow-y: auto;
    }

    .mobile__button{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        justify-content: center;
        background-color: transparent;
    }

    #hamburger{
        display: block;
        width: 20px;
        border-top: 2px solid;

    }

    #hamburger::after, #hamburger::before{
        content: '';
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
    }

    .nav__menu.active #hamburger{
        border-top-color: transparent;
    }

    .nav__menu.active #hamburger::before{
        transform: rotate(135deg);
    }

    .nav__menu.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
