.projects{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.content{
    position: relative;
}

.projects__container{
    margin-top: 3em;
    width: 1000px;
}

.projects__content{
    padding: 0 3em 3em 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projects__image{
    width: 500px;
    border-radius: 20px;
}

.projects__data{
    margin-left: 1.5em;
    width: 500px;
    line-height: 1.8rem;
}

.projects__heading{
    font-size: 22px;
    font-weight: 700;
    color: var(--black-color);
    padding-bottom: 0.5em;
}

.button{
    margin: 2em 0;
}

.projects__link{
    text-decoration: none;
    padding: 1em 3em;
    color: white;
    background-color: var(--principal-color);
    border: none;
    border-radius: 20px;
    box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.377);
    transition: 400ms;
}

.projects__link:hover{
    font-size: 110%;
}

.projects__link:active{
    background-color: var(--tertiary-color);
}

.swiper-button-prev{
    left: -.100px !important;
}
.swiper-button-next{
    right: -.100px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: '' !important;
}

.swiper-projects-icon{
    font-size: 2.5em;
}

#projects-scroll__down__buton{
    position: absolute;
    right: 23em;
    bottom: -5em;
}