.skills{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.skills__items{
    display: flex;
    justify-content: center;
    padding: 3em 0;
}

/*----------------------------------------------*/

.frontend__content, .backend__content{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

/*----------------------------------------------*/

.heading-content{
    color: var(--color-black);
    font-size: 24px;
    font-weight: 600;
}

.text-content{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
}

/*----------------------------------------------*/

.frontend__details, .backend__details{
    display: flex;
    flex-direction: column;
}

.details__topics{
    padding: 0.7em 0;
}

.details__text{
    display: flex;
    flex-direction: row;
    padding: 0.3em 0;
}

.details__percentual{
    margin-left: auto;
}

.details__bar{
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
}

.details__bar::-webkit-progress-value {
    border-radius: 50px;
    border: none;
    background:var(--principal-color);
}

.details__bar::-webkit-progress-bar {
    border-radius: 50px;
    background: rgb(231, 231, 231);
    border: none;
}

/*----------------------------------------------*/

.items-image{
    width: 50px;
}

.items-content{
    margin: auto;
    padding: 0 3em 0 0.5em;
}

.items-button{
    display: flex;
}

/*----------------------------------------------*/

.button-show{
    margin: auto;
    border: none;
    background-color: transparent;
}

.items-button .button-image{
    width: 20px;
    cursor: pointer;
}

/*----------------------------------------------*/

.items__backend{
    padding-left: 3.5em;
}

.items__frontend{
    padding-right: 3.5em;
}

#scroll-skills__bottom{
    display: none;
}

.frontend__image,
.backend__image{
    display: flex;
    align-items: center;
}

@media screen and (max-width:1000px) {

    .skills__items{
        width: 100%;
        flex-direction: column;
        padding: 3em 0 1em 0;
        align-items: center;
    }

    .items__frontend{
        width: 400px;
        padding: 0 0 3em 0;
    }

    .items__backend{
        width: 400px;
        padding: 0;
    }

    #scroll-skills__top{
        display: none;
    }

    #scroll-skills__bottom{
        display: block;
        width: 100%;
    }

}

@media screen and (max-width:440px) {
    .items__frontend{
        width: 300px;
    }

    .items__backend{
        width: 300px;
    }

}